<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >


  <!-- optional, add some variables
    https://github.com/nlog/NLog/wiki/Configuration-file#variables
    <variable name="myvar" value="myvalue"/>
  -->
  
  <targets>

    <target xsi:type="ColoredConsole"
          name="ConsoleDebug"
          layout="${time} | ${level:uppercase=true} | ${logger} -> ${message}"
          useDefaultRowHighlightingRules="true">
    </target>

    <target xsi:type="ColoredConsole"
          name="ConsoleError"
          layout="${time} | ${level:uppercase=true} | ${logger} -> ${message} - ${exception:format=ToString:innerFormat=Message:maxInnerExceptionLevel=2}"
          useDefaultRowHighlightingRules="true">
    </target>

    <target xsi:type="File"
        name="FileDebug"
        layout="${time} | ${level:uppercase=true} | ${logger} -> ${message}"
        archiveAboveSize="5000000"
        maxArchiveFiles="5"
        fileName="${basedir}/logs/${shortdate}.txt"
        archiveFileName="${basedir}/logs/${shortdate}.{##}.txt"
        archiveNumbering="Sequence"
        archiveDateFormat="dd-MM-yyyy"
        archiveEvery="Day"
        encoding="iso-8859-2"
        createDirs="true"/>

    <target xsi:type="File"
        name="FileError"
        layout="${longdate} | ${logger} -> ${message} - ${exception:format=ToString:innerFormat=Message:maxInnerExceptionLevel=4}"
        archiveAboveSize="5000000"
        maxArchiveFiles="5"
        fileName="${basedir}/logs/${shortdate}_ERROR.txt"
        archiveFileName="${basedir}/logs/ERROR_${shortdate}.{##}.txt"
        archiveNumbering="Sequence"
        archiveDateFormat="dd-MM-yyyy"
        archiveEvery="Day"
        encoding="iso-8859-2"
        createDirs="true"/>

  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="FileError" />
    <logger name="*" minlevel="Error" writeTo="ConsoleError" />
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="FileDebug" />
    <logger name="*" minlevel="Trace" maxlevel="Warn" writeTo="ConsoleDebug" />
  </rules>
</nlog>